.optimization {
    padding: 153px 0 0 0;
    margin: 0;
    &__wrapper {
        background: url('../icons/optimization/Rectangle.png') center center/cover;
        width: 100%;
        padding: 117px 0;
        margin: 0 auto;
    }
    &__button {
        width: 399px;
        margin: 0 auto;
        margin-top: 54px;
        display: flex;
        justify-content: space-between;
    }
    &__btn {
        color: #ffffff;
    }
}
